@import url(https://fonts.googleapis.com/css?family=Lato);
/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
	font-family: "Lato",sans-serif;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.headsection{background:#262626;}
.navbar-default {
  background-color: #262626;
  border-color: #262626;
}

.navbar-default .navbar-nav > li > a {
  color: #d9d9d9;
  font-family: "Lato",sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
}

.navbar-default .navbar-nav > li > a:hover{color:#EA6660;}
.navbar {padding: 15px 0;margin-bottom:0}
.bannersection{background:#2A2A2A;padding:60px 0}
.banner{}
.banner h2 {
  color: #d9d9d9;
  font-family: "Lato",sans-serif;
  font-size: 60px;
  margin-top: 0;
}
.banner p{font-family: "Lato",sans-serif;color:#D9D9D9;font-size:40px;}
.mybutton {
  background: none repeat scroll 0 0 #ea6660;
  border: 0 none;
  color: #fff;
  font-size: 25px;
  margin-top: 45px;
  padding: 10px 35px;
  text-transform: uppercase;
}
.servicesection{background:#F8F8F8;padding:90px 0;color:#616161;}
.sameservice {
  margin-right: 20px;
  border: 1px solid #000;
}
.sameservice i {
  font-size: 70px;
  padding-bottom: 20px;
}
.sameservice a{

  color: #000;
}
.sameservice h4{}
.sameservice p {
  font-size: 15px;
  line-height: 25px;
}

.portfoliosection{padding:90px 0}
.ourportfolio{}
.ourportfolio h2 {
  font-size: 30px;
  font-weight: bold;
  margin-top: 0;
}
.ourportfolio p {
  font-size: 20px;
  margin-bottom: 40px;
}

/*Sort and filter*/
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


/* ---- button ---- */
.button {
  background: #ff6760 none repeat scroll 0 0;
  border: medium none;
  border-radius: 7px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
  font-size: 16px;
  padding: 0.5em 1em;
  text-shadow: 0 1px white;
  text-transform: uppercase;
}

.button:hover {
  background-color: #595959;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
  color: #fff;
}

.button:active,
.button.is-checked {
  background-color: #595959;
}

.button.is-checked {
  color: white;
  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

.button:active {
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

/* ---- button-group ---- */

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  border-radius: 5px;
  margin: 20px 8px 20px 0;
}
/* ---- isotope ---- */

.isotope {

}

/* clear fix */
.isotope:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

.element-item {
  position: relative;
  float: left;
  width:25%;
  border:5px solid #fff;
}
.element-item img{width:100%}

.contactsection{padding:60px 0;background:#313131;color:#E0E0E0;}
.contact{}
.contact h2 {
  color: #e0e0e0;
  font-weight: bold;
}
.contact h4 {
  font-size: 20px;
  padding: 15px 0;
}
.ouraddress {
  margin: 0 auto;
  max-width: 445px;
  overflow: hidden;
}
.address {
  background: rgba(0, 0, 0, 0) url("../img/map.png") no-repeat scroll 0 3px;
  float: left;
  font-size: 14px !important;
  margin-right: 30px;
  padding-left: 15px;
}
.phone{float:left; font-size: 14px !important;background:url(../img/phone.png)no-repeat scroll 0 5px;  padding-left: 20px;}
.social{margin-top:25px;}
.social i {
  border-radius: 50px;
  color: #fff;
  font-size: 20px;
  height: 50px;
  margin-right: 10px;
  padding-top: 17px;
  width: 50px;
}
.fb{background:#5883C0;}
.tm{background:#63BEE0;}
.pin{background:#D35051;}

.footersection{background:#2C2C2C;padding:35px 0;}
.footersection p {
  color: #bebebe;
  font-size: 14px;
  margin-bottom: 0;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
